<%
var pos = filename.indexOf("_src");
var layered = filename.slice(pos);
var numLayered = layered.split("/").length - 1;
var x = "../";
%>
<html>
<head>
<style>
<%- include('sass/style.compiled.css') %>
</style>
</head>
<body>
<%= fileKind %>用のファイルです。

<% for (var i = 0; i < numLayered; i++) { %><%= x %><% } %>

</body>
</html>